

<form action="/designs/<%= @design.id %>" method="POST">
    <input type="hidden" name="_method" value="patch">
    <input type="text" name="title" value="<%= @design.title %>">
    <input type="submit" value="Update Design">
</form>