


<h3>All my Designs</h3>

<ul>
    <% @designs.each do |d| %>
        <li>
            <a href="/designs/<%= d.id %>">
                <%= d.title %>
            </a>
        </li>
    <% end %>
</ul>