<h1>Ahmad Digital Printing Press </h1>
<h3>LET's Design Together</h3>


<form action="/search" method="get">
<input type="text" placeholder="design title" name="title">
<input type="submit" value="search">
</form>








<%# <form>

<label> Design </label>
<input type="Text" name="design"/>
    <label> title </label>
    <iput type="title" name="title"/>
    <label> style </label>
<input type="text" name="style/">
<input type="submit" vlaue="create new design"/>

</form> %>
